.activities-list {
    width: 30%;
    min-width: 250px;
    max-width: 350px;
    height: 100vh;
    background: #ffffff;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: solid 2px #a9a9a9;
    padding: 20px;
    box-sizing: border-box;
}
.activities-list-item {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 6px;
    cursor: pointer;
    transition: 0.1s;
}
.activities-list-item__title {
    font-size: 18px;
    font-weight: bold;
}